extends layout

block content
  h1= title
  p Welcome   #{title}
  button(type="button", class="btn btn-secondary", onclick="update()") Press Me
  div(id="target") Display
  a(href = '/macbook') macbook Page link <br>
  |
  script. 
    let client_count = 0;
    function update() {
      client_count = client_count + 1;
      document.getElementById("target").innerHTML = `Value now ${client_count}`  ;
      }
      
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/macbook") Take me to macbook
    br
    a(href="/logout") Logout