extends layout 

block content 
    h1= title 

    form(id='macbookForm' action="/resource/macbook" method="POST") 
        div.form-group 
            label.macbookAttr(for='cost') macbook cost
            input#cost(type='text' name='cost') 
        div.form-group 
            label.macbookAttr(for='model') macbook model
            input#model(type='text' name='model') 
        div.form-group 
            label.macbookAttr(for='memory') macbook memory
            input#memory(type='number' name='memory') 
        input(type="submit") 

    script. 
        document.forms['macbookForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'POST', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Save succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Save failed " + error ) 
            }); 
        });